<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceying.tools.dao.scyp.addition.OpenInvoiceQuotaMapper">
  <resultMap id="BaseResultMap" type="com.ceying.tools.entity.scyp.addition.OpenInvoiceQuota">
    <id column="urid" jdbcType="VARCHAR" property="urid" />
    <result column="orgid" jdbcType="VARCHAR" property="orgid" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="usedamount" jdbcType="DECIMAL" property="usedamount" />
    <result column="availableamount" jdbcType="DECIMAL" property="availableamount" />
    <result column="createdby" jdbcType="VARCHAR" property="createdby" />
    <result column="createdon" jdbcType="DATE" property="createdon" />
    <result column="lastmodifiedby" jdbcType="VARCHAR" property="lastmodifiedby" />
    <result column="lastmodifiedon" jdbcType="DATE" property="lastmodifiedon" />
    <result column="rowversion" jdbcType="INTEGER" property="rowversion" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    urid, orgid, amount, usedamount, availableamount, createdby, createdon, lastmodifiedby, 
    lastmodifiedon, rowversion, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_add_openinvoicequota
    where urid = #{urid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_add_openinvoicequota
    where urid = #{urid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ceying.tools.entity.scyp.addition.OpenInvoiceQuota">
    insert into t_add_openinvoicequota (urid, orgid, amount, 
      usedamount, availableamount, createdby, 
      createdon, lastmodifiedby, lastmodifiedon, 
      rowversion, description)
    values (#{urid,jdbcType=VARCHAR}, #{orgid,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, 
      #{usedamount,jdbcType=DECIMAL}, #{availableamount,jdbcType=DECIMAL}, #{createdby,jdbcType=VARCHAR}, 
      #{createdon,jdbcType=DATE}, #{lastmodifiedby,jdbcType=VARCHAR}, #{lastmodifiedon,jdbcType=DATE}, 
      #{rowversion,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ceying.tools.entity.scyp.addition.OpenInvoiceQuota">
    insert into t_add_openinvoicequota
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="urid != null">
        urid,
      </if>
      <if test="orgid != null">
        orgid,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="usedamount != null">
        usedamount,
      </if>
      <if test="availableamount != null">
        availableamount,
      </if>
      <if test="createdby != null">
        createdby,
      </if>
      <if test="createdon != null">
        createdon,
      </if>
      <if test="lastmodifiedby != null">
        lastmodifiedby,
      </if>
      <if test="lastmodifiedon != null">
        lastmodifiedon,
      </if>
      <if test="rowversion != null">
        rowversion,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="urid != null">
        #{urid,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null">
        #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="usedamount != null">
        #{usedamount,jdbcType=DECIMAL},
      </if>
      <if test="availableamount != null">
        #{availableamount,jdbcType=DECIMAL},
      </if>
      <if test="createdby != null">
        #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="createdon != null">
        #{createdon,jdbcType=DATE},
      </if>
      <if test="lastmodifiedby != null">
        #{lastmodifiedby,jdbcType=VARCHAR},
      </if>
      <if test="lastmodifiedon != null">
        #{lastmodifiedon,jdbcType=DATE},
      </if>
      <if test="rowversion != null">
        #{rowversion,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ceying.tools.entity.scyp.addition.OpenInvoiceQuota">
    update t_add_openinvoicequota
    <set>
      <if test="orgid != null">
        orgid = #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="usedamount != null">
        usedamount = #{usedamount,jdbcType=DECIMAL},
      </if>
      <if test="availableamount != null">
        availableamount = #{availableamount,jdbcType=DECIMAL},
      </if>
      <if test="createdby != null">
        createdby = #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="createdon != null">
        createdon = #{createdon,jdbcType=DATE},
      </if>
      <if test="lastmodifiedby != null">
        lastmodifiedby = #{lastmodifiedby,jdbcType=VARCHAR},
      </if>
      <if test="lastmodifiedon != null">
        lastmodifiedon = #{lastmodifiedon,jdbcType=DATE},
      </if>
      <if test="rowversion != null">
        rowversion = #{rowversion,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where urid = #{urid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ceying.tools.entity.scyp.addition.OpenInvoiceQuota">
    update t_add_openinvoicequota
    set orgid = #{orgid,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      usedamount = #{usedamount,jdbcType=DECIMAL},
      availableamount = #{availableamount,jdbcType=DECIMAL},
      createdby = #{createdby,jdbcType=VARCHAR},
      createdon = #{createdon,jdbcType=DATE},
      lastmodifiedby = #{lastmodifiedby,jdbcType=VARCHAR},
      lastmodifiedon = #{lastmodifiedon,jdbcType=DATE},
      rowversion = #{rowversion,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR}
    where urid = #{urid,jdbcType=VARCHAR}
  </update>
</mapper>