<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceying.tools.dao.scyp.biz.AccountsPayableQuoteMapper">
  <resultMap id="BaseResultMap" type="com.ceying.tools.entity.scyp.biz.AccountsPayableQuote">
    <id column="urid" jdbcType="VARCHAR" property="urid" />
    <result column="tenantid" jdbcType="VARCHAR" property="tenantid" />
    <result column="tatemplateid" jdbcType="VARCHAR" property="tatemplateid" />
    <result column="accountspayableid" jdbcType="VARCHAR" property="accountspayableid" />
    <result column="bankid" jdbcType="VARCHAR" property="bankid" />
    <result column="supplieraccountid" jdbcType="VARCHAR" property="supplieraccountid" />
    <result column="financingamount" jdbcType="DECIMAL" property="financingamount" />
    <result column="financingdate" jdbcType="TIMESTAMP" property="financingdate" />
    <result column="isrecourse" jdbcType="VARCHAR" property="isrecourse" />
    <result column="recourseinterestrate" jdbcType="DECIMAL" property="recourseinterestrate" />
    <result column="nonrecourseinterestrate" jdbcType="DECIMAL" property="nonrecourseinterestrate" />
    <result column="recoursediscount" jdbcType="DECIMAL" property="recoursediscount" />
    <result column="nonrecoursediscount" jdbcType="DECIMAL" property="nonrecoursediscount" />
    <result column="isactive" jdbcType="CHAR" property="isactive" />
    <result column="createdby" jdbcType="VARCHAR" property="createdby" />
    <result column="createdon" jdbcType="TIMESTAMP" property="createdon" />
    <result column="lastmodifiedby" jdbcType="VARCHAR" property="lastmodifiedby" />
    <result column="lastmodifiedon" jdbcType="TIMESTAMP" property="lastmodifiedon" />
    <result column="rowversion" jdbcType="INTEGER" property="rowversion" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="estimatereturndate" jdbcType="TIMESTAMP" property="estimatereturndate" />
    <result column="isfirstquote" jdbcType="CHAR" property="isfirstquote" />
    <result column="lastoperationflag" jdbcType="VARCHAR" property="lastoperationflag" />
    <result column="financingcost" jdbcType="DECIMAL" property="financingcost" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ceying.tools.entity.scyp.biz.AccountsPayableQuote">
    <result column="signaturecontent" jdbcType="LONGVARBINARY" property="signaturecontent" />
  </resultMap>
  <sql id="Base_Column_List">
    urid, tenantid, tatemplateid, accountspayableid, bankid, supplieraccountid, financingamount, 
    financingdate, isrecourse, recourseinterestrate, nonrecourseinterestrate, recoursediscount, 
    nonrecoursediscount, isactive, createdby, createdon, lastmodifiedby, lastmodifiedon, 
    rowversion, description, estimatereturndate, isfirstquote, lastoperationflag, financingcost
  </sql>
  <sql id="Blob_Column_List">
    signaturecontent
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_biz_accountspayablequote
    where urid = #{urid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_biz_accountspayablequote
    where urid = #{urid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ceying.tools.entity.scyp.biz.AccountsPayableQuote">
    insert into t_biz_accountspayablequote (urid, tenantid, tatemplateid, 
      accountspayableid, bankid, supplieraccountid, 
      financingamount, financingdate, isrecourse, 
      recourseinterestrate, nonrecourseinterestrate, 
      recoursediscount, nonrecoursediscount, 
      isactive, createdby, createdon, 
      lastmodifiedby, lastmodifiedon, rowversion, 
      description, estimatereturndate, isfirstquote, 
      lastoperationflag, financingcost, signaturecontent
      )
    values (#{urid,jdbcType=VARCHAR}, #{tenantid,jdbcType=VARCHAR}, #{tatemplateid,jdbcType=VARCHAR}, 
      #{accountspayableid,jdbcType=VARCHAR}, #{bankid,jdbcType=VARCHAR}, #{supplieraccountid,jdbcType=VARCHAR}, 
      #{financingamount,jdbcType=DECIMAL}, #{financingdate,jdbcType=TIMESTAMP}, #{isrecourse,jdbcType=VARCHAR}, 
      #{recourseinterestrate,jdbcType=DECIMAL}, #{nonrecourseinterestrate,jdbcType=DECIMAL}, 
      #{recoursediscount,jdbcType=DECIMAL}, #{nonrecoursediscount,jdbcType=DECIMAL}, 
      #{isactive,jdbcType=CHAR}, #{createdby,jdbcType=VARCHAR}, #{createdon,jdbcType=TIMESTAMP}, 
      #{lastmodifiedby,jdbcType=VARCHAR}, #{lastmodifiedon,jdbcType=TIMESTAMP}, #{rowversion,jdbcType=INTEGER}, 
      #{description,jdbcType=VARCHAR}, #{estimatereturndate,jdbcType=TIMESTAMP}, #{isfirstquote,jdbcType=CHAR}, 
      #{lastoperationflag,jdbcType=VARCHAR}, #{financingcost,jdbcType=DECIMAL}, #{signaturecontent,jdbcType=LONGVARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ceying.tools.entity.scyp.biz.AccountsPayableQuote">
    insert into t_biz_accountspayablequote
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="urid != null">
        urid,
      </if>
      <if test="tenantid != null">
        tenantid,
      </if>
      <if test="tatemplateid != null">
        tatemplateid,
      </if>
      <if test="accountspayableid != null">
        accountspayableid,
      </if>
      <if test="bankid != null">
        bankid,
      </if>
      <if test="supplieraccountid != null">
        supplieraccountid,
      </if>
      <if test="financingamount != null">
        financingamount,
      </if>
      <if test="financingdate != null">
        financingdate,
      </if>
      <if test="isrecourse != null">
        isrecourse,
      </if>
      <if test="recourseinterestrate != null">
        recourseinterestrate,
      </if>
      <if test="nonrecourseinterestrate != null">
        nonrecourseinterestrate,
      </if>
      <if test="recoursediscount != null">
        recoursediscount,
      </if>
      <if test="nonrecoursediscount != null">
        nonrecoursediscount,
      </if>
      <if test="isactive != null">
        isactive,
      </if>
      <if test="createdby != null">
        createdby,
      </if>
      <if test="createdon != null">
        createdon,
      </if>
      <if test="lastmodifiedby != null">
        lastmodifiedby,
      </if>
      <if test="lastmodifiedon != null">
        lastmodifiedon,
      </if>
      <if test="rowversion != null">
        rowversion,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="estimatereturndate != null">
        estimatereturndate,
      </if>
      <if test="isfirstquote != null">
        isfirstquote,
      </if>
      <if test="lastoperationflag != null">
        lastoperationflag,
      </if>
      <if test="financingcost != null">
        financingcost,
      </if>
      <if test="signaturecontent != null">
        signaturecontent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="urid != null">
        #{urid,jdbcType=VARCHAR},
      </if>
      <if test="tenantid != null">
        #{tenantid,jdbcType=VARCHAR},
      </if>
      <if test="tatemplateid != null">
        #{tatemplateid,jdbcType=VARCHAR},
      </if>
      <if test="accountspayableid != null">
        #{accountspayableid,jdbcType=VARCHAR},
      </if>
      <if test="bankid != null">
        #{bankid,jdbcType=VARCHAR},
      </if>
      <if test="supplieraccountid != null">
        #{supplieraccountid,jdbcType=VARCHAR},
      </if>
      <if test="financingamount != null">
        #{financingamount,jdbcType=DECIMAL},
      </if>
      <if test="financingdate != null">
        #{financingdate,jdbcType=TIMESTAMP},
      </if>
      <if test="isrecourse != null">
        #{isrecourse,jdbcType=VARCHAR},
      </if>
      <if test="recourseinterestrate != null">
        #{recourseinterestrate,jdbcType=DECIMAL},
      </if>
      <if test="nonrecourseinterestrate != null">
        #{nonrecourseinterestrate,jdbcType=DECIMAL},
      </if>
      <if test="recoursediscount != null">
        #{recoursediscount,jdbcType=DECIMAL},
      </if>
      <if test="nonrecoursediscount != null">
        #{nonrecoursediscount,jdbcType=DECIMAL},
      </if>
      <if test="isactive != null">
        #{isactive,jdbcType=CHAR},
      </if>
      <if test="createdby != null">
        #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="createdon != null">
        #{createdon,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifiedby != null">
        #{lastmodifiedby,jdbcType=VARCHAR},
      </if>
      <if test="lastmodifiedon != null">
        #{lastmodifiedon,jdbcType=TIMESTAMP},
      </if>
      <if test="rowversion != null">
        #{rowversion,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="estimatereturndate != null">
        #{estimatereturndate,jdbcType=TIMESTAMP},
      </if>
      <if test="isfirstquote != null">
        #{isfirstquote,jdbcType=CHAR},
      </if>
      <if test="lastoperationflag != null">
        #{lastoperationflag,jdbcType=VARCHAR},
      </if>
      <if test="financingcost != null">
        #{financingcost,jdbcType=DECIMAL},
      </if>
      <if test="signaturecontent != null">
        #{signaturecontent,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ceying.tools.entity.scyp.biz.AccountsPayableQuote">
    update t_biz_accountspayablequote
    <set>
      <if test="tenantid != null">
        tenantid = #{tenantid,jdbcType=VARCHAR},
      </if>
      <if test="tatemplateid != null">
        tatemplateid = #{tatemplateid,jdbcType=VARCHAR},
      </if>
      <if test="accountspayableid != null">
        accountspayableid = #{accountspayableid,jdbcType=VARCHAR},
      </if>
      <if test="bankid != null">
        bankid = #{bankid,jdbcType=VARCHAR},
      </if>
      <if test="supplieraccountid != null">
        supplieraccountid = #{supplieraccountid,jdbcType=VARCHAR},
      </if>
      <if test="financingamount != null">
        financingamount = #{financingamount,jdbcType=DECIMAL},
      </if>
      <if test="financingdate != null">
        financingdate = #{financingdate,jdbcType=TIMESTAMP},
      </if>
      <if test="isrecourse != null">
        isrecourse = #{isrecourse,jdbcType=VARCHAR},
      </if>
      <if test="recourseinterestrate != null">
        recourseinterestrate = #{recourseinterestrate,jdbcType=DECIMAL},
      </if>
      <if test="nonrecourseinterestrate != null">
        nonrecourseinterestrate = #{nonrecourseinterestrate,jdbcType=DECIMAL},
      </if>
      <if test="recoursediscount != null">
        recoursediscount = #{recoursediscount,jdbcType=DECIMAL},
      </if>
      <if test="nonrecoursediscount != null">
        nonrecoursediscount = #{nonrecoursediscount,jdbcType=DECIMAL},
      </if>
      <if test="isactive != null">
        isactive = #{isactive,jdbcType=CHAR},
      </if>
      <if test="createdby != null">
        createdby = #{createdby,jdbcType=VARCHAR},
      </if>
      <if test="createdon != null">
        createdon = #{createdon,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifiedby != null">
        lastmodifiedby = #{lastmodifiedby,jdbcType=VARCHAR},
      </if>
      <if test="lastmodifiedon != null">
        lastmodifiedon = #{lastmodifiedon,jdbcType=TIMESTAMP},
      </if>
      <if test="rowversion != null">
        rowversion = #{rowversion,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="estimatereturndate != null">
        estimatereturndate = #{estimatereturndate,jdbcType=TIMESTAMP},
      </if>
      <if test="isfirstquote != null">
        isfirstquote = #{isfirstquote,jdbcType=CHAR},
      </if>
      <if test="lastoperationflag != null">
        lastoperationflag = #{lastoperationflag,jdbcType=VARCHAR},
      </if>
      <if test="financingcost != null">
        financingcost = #{financingcost,jdbcType=DECIMAL},
      </if>
      <if test="signaturecontent != null">
        signaturecontent = #{signaturecontent,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where urid = #{urid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ceying.tools.entity.scyp.biz.AccountsPayableQuote">
    update t_biz_accountspayablequote
    set tenantid = #{tenantid,jdbcType=VARCHAR},
      tatemplateid = #{tatemplateid,jdbcType=VARCHAR},
      accountspayableid = #{accountspayableid,jdbcType=VARCHAR},
      bankid = #{bankid,jdbcType=VARCHAR},
      supplieraccountid = #{supplieraccountid,jdbcType=VARCHAR},
      financingamount = #{financingamount,jdbcType=DECIMAL},
      financingdate = #{financingdate,jdbcType=TIMESTAMP},
      isrecourse = #{isrecourse,jdbcType=VARCHAR},
      recourseinterestrate = #{recourseinterestrate,jdbcType=DECIMAL},
      nonrecourseinterestrate = #{nonrecourseinterestrate,jdbcType=DECIMAL},
      recoursediscount = #{recoursediscount,jdbcType=DECIMAL},
      nonrecoursediscount = #{nonrecoursediscount,jdbcType=DECIMAL},
      isactive = #{isactive,jdbcType=CHAR},
      createdby = #{createdby,jdbcType=VARCHAR},
      createdon = #{createdon,jdbcType=TIMESTAMP},
      lastmodifiedby = #{lastmodifiedby,jdbcType=VARCHAR},
      lastmodifiedon = #{lastmodifiedon,jdbcType=TIMESTAMP},
      rowversion = #{rowversion,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      estimatereturndate = #{estimatereturndate,jdbcType=TIMESTAMP},
      isfirstquote = #{isfirstquote,jdbcType=CHAR},
      lastoperationflag = #{lastoperationflag,jdbcType=VARCHAR},
      financingcost = #{financingcost,jdbcType=DECIMAL},
      signaturecontent = #{signaturecontent,jdbcType=LONGVARBINARY}
    where urid = #{urid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ceying.tools.entity.scyp.biz.AccountsPayableQuote">
    update t_biz_accountspayablequote
    set tenantid = #{tenantid,jdbcType=VARCHAR},
      tatemplateid = #{tatemplateid,jdbcType=VARCHAR},
      accountspayableid = #{accountspayableid,jdbcType=VARCHAR},
      bankid = #{bankid,jdbcType=VARCHAR},
      supplieraccountid = #{supplieraccountid,jdbcType=VARCHAR},
      financingamount = #{financingamount,jdbcType=DECIMAL},
      financingdate = #{financingdate,jdbcType=TIMESTAMP},
      isrecourse = #{isrecourse,jdbcType=VARCHAR},
      recourseinterestrate = #{recourseinterestrate,jdbcType=DECIMAL},
      nonrecourseinterestrate = #{nonrecourseinterestrate,jdbcType=DECIMAL},
      recoursediscount = #{recoursediscount,jdbcType=DECIMAL},
      nonrecoursediscount = #{nonrecoursediscount,jdbcType=DECIMAL},
      isactive = #{isactive,jdbcType=CHAR},
      createdby = #{createdby,jdbcType=VARCHAR},
      createdon = #{createdon,jdbcType=TIMESTAMP},
      lastmodifiedby = #{lastmodifiedby,jdbcType=VARCHAR},
      lastmodifiedon = #{lastmodifiedon,jdbcType=TIMESTAMP},
      rowversion = #{rowversion,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      estimatereturndate = #{estimatereturndate,jdbcType=TIMESTAMP},
      isfirstquote = #{isfirstquote,jdbcType=CHAR},
      lastoperationflag = #{lastoperationflag,jdbcType=VARCHAR},
      financingcost = #{financingcost,jdbcType=DECIMAL}
    where urid = #{urid,jdbcType=VARCHAR}
  </update>
</mapper>