<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ceying.tools.dao.scyp.tools.ExportTableStructureDao">
    <resultMap id="TableResultMap" type="com.ceying.tools.entity.scyp.tools.TableInformation">
        <result column="table_name" jdbcType="VARCHAR" property="tableName" />
        <result column="table_comment" jdbcType="VARCHAR" property="tableComment" />
    </resultMap>
    <resultMap id="ColumnResultMap" type="com.ceying.tools.entity.scyp.tools.ColumnInformation">
        <result column="table_name" jdbcType="VARCHAR" property="tableName" />
        <result column="column_name" jdbcType="VARCHAR" property="columnName" />
        <result column="column_type" jdbcType="VARCHAR" property="columnType" />
        <result column="column_default" jdbcType="VARCHAR" property="columnDefault" />
        <result column="is_nullable" jdbcType="VARCHAR" property="isNullable" />
        <result column="column_comment" jdbcType="VARCHAR" property="columnComment" />
        <result column="column_key" jdbcType="VARCHAR" property="columnKey" />
    </resultMap>
    <select id="listTableInformation" parameterType="String" resultMap="TableResultMap">
        ${value}
    </select>
    <select id="listColumnInformation" parameterType="String" resultMap="ColumnResultMap">
        ${value}
    </select>
</mapper>